@{
    ViewBag.Title = "Contate-nos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <a href="https://www.facebook.com/profile.php?id=100002502023047" target="_blank">
        <img src="~/Images/facebook.png" style="width: 30px" />
    </a>
    <a href="https://www.instagram.com/toninbacana/" target="_blank">
        <img src="~/Images/instagram.png" style="width: 30px" />
    </a>
    Rafael Nunes<br />
    <a href="https://www.facebook.com/fellipe.cardosodosreis" target="_blank">
        <img src="~/Images/facebook.png" style="width: 30px" />
    </a>
    <a href="https://www.instagram.com/feeh_careis/" target="_blank">
        <img src="~/Images/instagram.png" style="width: 30px" />
    </a>
    Fellipe Cardoso Dos Reis<br />
    <a href="https://www.facebook.com/profile.php?id=100012480575424" target="_blank">
        <img src="~/Images/facebook.png" style="width: 30px" />
    </a>
    <a href="https://www.instagram.com/konda.savage/" target="_blank">
        <img src="~/Images/instagram.png" style="width: 30px" />
    </a>
    Douglas Alves<br />
    <a href="https://www.facebook.com/profile.php?id=100005849584232" target="_blank">
        <img src="~/Images/facebook.png" style="width: 30px" />
    </a>
    <a href="https://www.instagram.com/zrafaoz/" target="_blank">
        <img src="~/Images/instagram.png" style="width: 30px" />
    </a>
    Rafão<br /><br />

</address>

<address>
    <a>
        <img src="~/Images/gmail.png" style="width: 30px" />
    </a>
    Email: venonchorro.oficial@gmail.com
</address>